* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

html,body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.sky, .grass, .road {
     position: relative;  
}

.sky {
    height: 40%;
    background-color: cornflowerblue;
    display: flex;
}

.grass {
    background-color: darkgreen;
    height: 30%;
}
.road{
    background-color: #36454F;
    height:30%;
    border-bottom:2px solid #B2BEB5;
    border-top:3px solid #B2BEB5;
}
.centre-line{
    position: absolute;
    height:1em;
    width:100%;
    box-sizing: border-box;
    border:0.75em dashed white;
    top:7.5em;
  
    
}
.luigi{
    position: absolute;
    top:-2em;
    left:0;
    width:100;
    animation: moving 3.5s both infinite;
}
@keyframes moving {
    from{transform:translateX(-15em)}
    to{transform:translateX(2000px)}
    
}
.mario{
    position:absolute;
    top:7.5em;
    left:0;
    animation:moving 5s both infinite alternate-reverse;
}
.cloud{
    position: absolute;
    top:-2em;
    left:0;
    animation:cloud 20s both infinite alternate-reverse 3s;
}
@keyframes cloud{
    0%{transform: translateX(-10em)}
    100%{transform: translateX(2000px);}
}
.cloud:nth-child(1){
    position: absolute;
    top:1em;
    opacity: 0.7;
    left:0;
    transform: scale(0.6);
    animation: first-cloud 10s infinite alternate-reverse linear;

}
@keyframes first-cloud {
    from{transform:translateX(-10em)}
    to{transform:translateX(35em)}
    
}
.cloud:nth-child(2){
    position: absolute;
    top:1em;
    left:40em;
    opacity: 0.8;
    transform: scale(0.5);
    animation: second-cloud 10s infinite alternate-reverse linear;

}
@keyframes second-cloud {
    0%{transform:translateX(30em)}
    50%{transform: translateX(42em)}
    100%{transform: translateX(45em);}
    
}
.cloud:nth-child(3){
    position: absolute;
    top:4em;
    left:45em;
    transform:scale(0.5);
    animation:third-cloud 10s infinite alternate-reverse ease-in-out;

}
@keyframes third-cloud{
    0%{transform: translateX(45em)}
    50%{transform: translateX(47.5em)}
    100%{transform:translateX(60em)}
    
}
